name: CI
on: [push, pull_request, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version:
        - 3.5
        - 3.6
        - 3.7
        - 3.8
        - 3.9
        - '3.10.0-alpha - 3.10'
        - pypy3
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get update || sudo apt-get update
        # sudo apt-get upgrade -y
        python3 -m pip install --upgrade pip
        python3 -m pip install flake8 pylint
    - name: Install mypy
      run: python3 -m pip install mypy
      continue-on-error:
        ${{ contains(matrix.python-version, 'alpha') ||
            contains(matrix.python-version, 'pypy') }}
    - name: Install
      run: make install
    - name: Test & lint
      run: make test-cli lint
    - name: Extra lint
      run: mypy --install-types apksigtool.py
      continue-on-error:
        ${{ contains(matrix.python-version, 'alpha') ||
            contains(matrix.python-version, 'pypy') ||
            matrix.python-version == '3.5' }}
